body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffa9a3;
}

.register-container{
    display: flex;    
    flex-wrap: wrap;
    padding: 0px;
    background-color: white;
    box-shadow: 0px 1px 2px white;
    border-radius: 8px;
    max-width: 95vw;
    max-height: 95vh;
    width: 1200px;
    height: 685px; 
}

.inner-container{
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

