body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.register-container{
    display: flex;    
    flex-wrap: wrap;
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    max-width: 95vw;
    max-height: 95vh;
    width: 1200px;
    height: 685px; 
}

.inner-container{
    padding: 15px;
    flex-grow: 1;
}

.btn-reg-signin{
    background-color: #ff5757;
    border-color: #ff5757;
}

.btn-reg-signin:hover {
    background-color: #ff7878; 
    border-color: #ff7878; 
}

.btn-reg-signin:disabled {
    background-color: #ff7878; 
    border-color: #ff7878; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

